#calculator {
    font-family: sans-serif;
    width: 225px;
    margin: 0 auto;
    text-align: center;
  }
  
  .display {
    width: 100%;
    padding: 12px;
    font-size: 2em;
    background-color: #eee;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    text-align: right;
  }
  
  button {
    width: 20%; /*fix 25 t0 20 */
    height: 60px;
    font-size: 1.5em;
    background-color: #fff;
    border: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  .operator {
    background-color: #f3f3f3;
  }
  
  .clear {
    background-color: #f3f3f3;
  }
  